[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "casino"]
	path = casino
	url = https://github.com/anthonypileggi/casino
	shallow = true
	registered = true
